.forgot-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f2f1;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.forgot-card {
  display: flex;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
  max-width: 900px;
  width: 90%;
  overflow: hidden;
}

.forgot-left {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-left .back {
  font-size: 14px;
  margin-bottom: 20px;
  color: #111;
  cursor: pointer;
}

.forgot-left h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.forgot-left p {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
  line-height: 1.6;
}

.forgot-left input {
  padding: 10px 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.submit-btn {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 999px;
  background-color: #1bd4a2;
  color: white;
  cursor: pointer;
}

.forgot-right {
  flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.forgot-right img {
  max-width: 100%;
  height: auto;
}
