.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 64px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.logo-orange {
  color: orange;
}

.logo-teal {
  color: teal;
}

.search-box {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.search-input {
  width: 300px;
  border-radius: 999px;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.avatar-section {
  margin-left: 24px;
  display: flex;
  align-items: center;
}
.header-avatar.ant-avatar-image img {
  object-fit: contain;
}